### MODOS DE INSTALACIÓN
DEBUG_MODE=false

### CONFIGURACIÓN DE RED Y VPN
# El dominio o IP pública de tu VPS
WG_ENDPOINT="vpn.tu-dominio.com"

WG_PORT=51820

# Rango de IPs internas de la VPN
WG_IPV4_ADDR="10.7.0.1/24"
WG_IPV6_ADDR="fddd:2c4:2c4:2c4::1/64"

WG_HOST_IP="10.7.0.1"

# DNS Resolver
DNS_IPV4="1.1.1.1"
DNS_IPV6="2606:4700::1111"

WG_UI_DOMAIN="vpn.tu-dominio.com"

# Puerto para VS Code Server
CODE_PORT=8080

# Puerto para PhpMyAdmin
PHPMYADMIN_PORT=8081

# Puerto privado para la interfaz web de Wireguard
WG_UI_PORT=8082

# Puerto para entrar a la interfaz web de WireGuard (público vía Caddy)
WG_UI_PROXY_PORT=8083

### SEGURIDAD
# WG UI Password
ADMIN_PASSWORD="Password_Super_Seguro_UI_123"

# VS Code Server Password
CODE_PASSWORD="Password_Para_VS_Code_2026"

### USUARIO DEL SISTEMA
DEV_USER="dev"

### BASE DE DATOS Y TOOLS
MYSQL_DEV_USER="admin_dev"
MYSQL_DEV_PASSWORD="MySQL_Strong_Pass_99"
# Rango permitido para MySQL (VPN y Local)
MYSQL_ALLOWED_NET="127.0.0.1,10.8.0.%"